ul{
  list-style-type:none;
  width: 500px;
  display: flex;
}
li{
  margin-left: 100px;
  background-color: black;
  color: white;
  padding: 10px;
}
body{
  background-color: blueviolet;
}
p{
  background-color: black;
  width: 200px;
  padding: 50px;

}
.login{
  margin-left: 900px;
}
.center{
  margin: 200px 0px 00px 500px;
}
.about{
  background-color: brown;
  height: 100vh;
}
.color{
  color: aliceblue;
}